body
{
	
	background-image: url("android1.jpg");
	background-repeat: no-refont-family: serif; peat;
	background-size: 150%;
	font-family:"helvetica",arial;
}
#contenido{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
h1{
	font-family: 'Rock Salt', cursive;
    text-shadow: #aaa 4px 4px 4px; 
	font-size: 300%;
	color:#F6F7F8;

}
h2{
	font-family: 'Dancing Script', cursive;
	color:#F4733D	;
	font-size:200%;
	text-shadow: #aaa 2px 2px 2px; 
	

}
h3{
	font-family: 'Chewy', cursive;
	color:#FFFFFF;
	font-size:180%;
	}

nav ul li
{
	
	display: inline-block;
	margin-right: 80px;
	color: #003333;
	cursor: pointer;
	text-align: center;
	padding: 10px 16px;
	text-shadow: 1px 1px 1px #aaa;
	transition :all .5s linear;

	background-color:  rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 20px; 
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	
}
nav li :hover
{
	background-color:  rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 20px; 
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	
}
#textoPr		
{
width: 600px;
height: auto;

color: #2CC0B3;
margin: 0 auto;
text-align: center;
border-radius: 20px;
padding: 20px;
box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
background: #000000;



}
a{
	color: #2CC0B3;
	font-weight: bold;
	font-family: 'Josefin Slab', serif;
	font-size: 115%;
}

